* {
    margin:0;
    padding:0;
}

body{
    max-width: 1600px;
    margin: auto;
}

p, h2, button{
    font-family: 'Lato', sans-serif;
}

p, a{
    font-size: 14pt;

    color: #848484;
}

h2{
    margin-bottom: 22px;
}

a{
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

header{
    background: url("res/header.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    
    height: 430px; 
    margin: auto;
    
    padding-left: 20%;
    padding-top: 180px;

}

footer{
    max-width: 1600px;
}

.header-text{
    font-size: 19pt;
    font-weight: 700;
    width: 500px;
    color: white;
    padding-top: 28px;
    padding-bottom: 30px;
    max-width: 60%;

}

.small-icon{
    width: 53px;
    height: 53px;
    display: inline-block;
    margin-right: 13px;
}

.ic-ios{
    background: url("res/apple.png");
}
.ic-ios:hover{
    content: url("res/apple_hover.png");
}

.ic-android{
    background: url("res/android.png")
}
.ic-android:hover{
    background: url("res/android_hover.png")
}

.ic-windows{
    background: url("res/windows.png")
}
.ic-windows:hover{
    background: url("res/windows_hover.png")
}

section{
    max-width: 1600px;
    margin: 0px;

    padding-left: 100px;
    padding-right: 100px;

    padding-top: 50px;
    padding-bottom: 50px;
    
    display: flex;
    justify-content: center;
}



.section-dark{
    background-color: #e3e3e3;
}

.section-team{
    flex-direction: column;
    text-align: center;
}


.section-tile{
    box-sizing: border-box;  
    padding: 16px;
}

.email-tile{
    padding: 16px;
    text-align: left;
    width: calc(100% - 532px);

}

.video-tile{
    width: 532px;
    text-align: right;

    
}

.feature-tile{
    width: calc(100% / 3);
    text-align: center;
}

.feature-icon{
    margin-bottom: 22px;
}

form{
    background: url("res/input_background.png");
    background-repeat: no-repeat;
    width: 445px;
    height: 62px;

    margin-top: 26px;
}

form button{
    background: url("res/input_button.png");
    background-repeat: no-repeat;
    border-width: 0;
    border-style: none;

    width: 141px;
    height: 57px;

    float: right;
    font-size: 18pt;
    font-weight: 700;
    color: white;
}

form input{
    font-size: 18pt;
    padding: 12px;
    width: 280px;
    border-width: 0;
    border-style: none;
    background: none;
}

.team-section-text{
    font-style: italic;
    margin: 0 auto 20px auto;
    width: 60%;
}

#person-name{
    font-weight: 700;
    font-size: 15pt;
    color: #2e2e2e;
}

#slide{
    display: flex;
    width: calc(100% - 32px);
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 16px;
    margin-bottom: 40px;
    justify-content: center;
    
}

.slide-item{
    flex-shrink: 0;
    margin: 5px;
    position: relative;
    
}

.slide-item-overlay{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;

}
.slide-item-overlay:hover{

    background: #00ffbb88;
}

.share-icon{
    width: 34px;
    height: 34px;
    margin: 4px;
}

.share-icon-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.share-twitter{background: url("res/twitter.png");}
.share-twitter:hover{content: url("res/twitter_hover.png");}

.share-facebook{background: url("res/facebook.png");}
.share-facebook:hover{content: url("res/facebook_hover.png");}

.share-pinterest{background: url("res/pinterest.png");}
.share-pinterest:hover{content: url("res/pinterest_hover.png");}

.share-googleplus{background: url("res/googleplus.png");}
.share-googleplus:hover{content: url("res/googleplus_hover.png");}

.share-linkedin{background: url("res/linkedin.png");}
.share-linkedin:hover{content: url("res/linkedin_hover.png");}

.share-youtube{background: url("res/youtube.png");}
.share-youtube:hover{content: url("res/youtube_hover.png");}



@media only screen and (max-width:1250px) {
    .section-email-video{
        flex-direction: column-reverse;
    }

    .video-tile, .email-tile{
        width: 100%;
    }

    .video{
        width: 100%;
    }
}

@media only screen and (max-width:820px) {
    /* For mobile phones: */
    header {
        background-size: 1000px;

        padding-left: 8%;
        padding-top: 50px;

        height: 335px;
    }

    .header-text{

        padding-top: 20px;
        padding-bottom: 22px;
    
    }

    section{
        flex-direction: column;
    }

    .feature-tile{
        width: 100%;
    }

    section{
        padding-left: 0px;
        padding-right: 0px;
    }



}
